<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% const estilo='color:blue' %>
    <h1 style=<%= estilo %> >Plantillas con ejs</h1>
    <h2><%= mensaje  %></h2>

    <%- include('../partials/formulario.ejs') %>

    <% if(productos.length > 0){ %>
        <ul>
            <% productos.forEach( prod => { %>
                <li>NOmbre: <%= prod.nombre %> - <%= prod.precio %></li>
            <% }) %>
        </ul>
    <% }else{ %>
        <h2> No hay productos </h2>
    <% } %>




    <%- include('../partials/footer.ejs', {mensajeFooter: '' } ) %>
</body>
</html>