<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <% const estilo = "color:blue;" %>
    <% if(mensaje) {%>
        <h2 style= <%=estilo%> > <%= mensaje %> </h2>
    <% } %>
    <ul>
        <% productos.forEach(prod => { %> 
            <li><%= prod.nombre %></li> 
        <% })%>    
    </ul>
    <%- include('../partials/footer.ejs', {mensaje: mensaje.footer})%>
</body>
</html>